$def with (name, playlists, total)

      <a href="/logout" class="btn btn-danger">Log out of Rdio</a>
<h3>$name['firstName']'s playlists:</h3>
	<table class="table">
		<tr>
			<th>Playlist Name</th><th>Songs</th>
		</tr>
	$for p in playlists
		<tr>
			<td><a href="$p['shortUrl']" target="_blank">$p['name']</a></td><td>$p['length']</td>
		</tr>
    </table>

    <p>Now login to Google Music, so that I can migrate your info</p>
      <a href="/migrate" class="btn btn-primary btn-lg right">Login to Google Music</a>